*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Barlow', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,116,124,1) 0%, rgba(33,84,170,1) 68%, rgba(0,212,255,1) 100%);
}

@media (min-width:320px) and (max-width:768px){
    #frontEndDeveloper{
        font-size: 2rem;
        text-align: center;
    }
    ul{
        display: flex;
        flex-direction: column;
        background-color: teal;
    }
    ul li{
        list-style-type: none;
        font-size: 1.5rem;
        text-align: center;
    }
    ul li a:hover{
        background-color: #ffffff;
    }
    ul li a{
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        display: block;
        padding: 10px;
    }
    .profileSection{
        display: flex;
        flex-direction: column;
        border: 2px solid red;
        justify-content: space-between;
        background-color: lightgray;
    }
    .nameSection{
        flex-basis: 50%;
        align-self: center;
    }
    .photoSection{
        flex-basis: 50%;
    }
    .myImage{
        max-width: 100%;
        width: 40%;
        border-radius: 50%;
    }
}

@media (min-width: 768px) and (max-width:991px){
    #frontEndDeveloper{
        font-size: 2rem;
        text-align: center;
    }
    ul{
        display: flex;
        flex-direction: column;
        background-color: teal;
    }
    ul li{
        list-style-type: none;
        font-size: 1.5rem;
        text-align: center;
    }
    ul li a:hover{
        background-color: #ffffff;
    }
    ul li a{
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        display: block;
        padding: 10px;
    }
    .profileSection{
        display: flex;
        flex-direction: column;
        border: 2px solid red;
        justify-content: space-between;
        background-color: lightgray;
    }
    .nameSection{
        flex-basis: 50%;
        align-self: center;
    }
    .photoSection{
        flex-basis: 50%;
    }
    .myImage{
        max-width: 100%;
        width: 60%;
        border-radius: 50%;
    }
}
@media (min-width: 992px) and (max-width:1199px){
    #frontEndDeveloper{
        font-size: 3rem;
    }
    ul{
        display: flex;
        flex-direction: row;
        background-color: #0E0E0C;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
    ul li{
        list-style-type: none;
        font-size: 1.5rem;
        text-align: center;
    }
    ul li a:hover{
        background-color: #ffffff;
        color: black;
    }
    ul li a{
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        display: block;
        padding: 20px;
    }
    .profileSection{
        margin-top: 120px;
        display: flex;
        justify-content: space-between;
        color: #ffffff;
        height: auto;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,116,124,1) 0%, rgba(33,84,170,1) 68%, rgba(0,212,255,1) 100%);
    }
    .nameSection{
        font-size: 1.3rem;
        flex-basis: 50%;
    }
    .nameSection > div{
        margin-top: 20px;
        margin-left: 70px;
    }
    .photoSection{
        flex-basis: 50%;
    }
    .myImage{
        max-width: 100%;
        width: 60%;
        height: auto;
        border-radius: 50%;
        border: 20px solid #202022;
        margin: auto;
    }
}
@media (min-width: 1200px) and (max-width:1399px){
    #frontEndDeveloper{
        font-size: 3rem;
    }
    ul{
        display: flex;
        flex-direction: row;
        background-color: #0E0E0C;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
    ul li{
        list-style-type: none;
        font-size: 1.5rem;
        text-align: center;
    }
    ul li a:hover{
        background-color: #ffffff;
        color: black;
    }
    ul li a{
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        display: block;
        padding: 20px;
    }
    .profileSection{
        display: flex;
        color: #ffffff;
        margin-top: 120px;
        margin-left: 90px;
        margin-right: 90px;
    }
    .nameSection{
        font-size: 1.3rem;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .photoSection{
        flex-basis: 50%;
    }
    .myImage{
        max-width: 100%;
        width: 60%;
        border-radius: 50%;
        border: 20px solid #202022;
        margin: auto;

    }
}
@media (min-width: 1400px){
    #frontEndDeveloper{
        font-size: 3rem;
    }
    ul{
        display: flex;
        flex-direction: row;
        background-color: #0E0E0C;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
    ul li{
        list-style-type: none;
        font-size: 1.5rem;
        text-align: center;
    }
    ul li a:hover{
        background-color: #ffffff;
        color: black;
    }
    ul li a{
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        display: block;
        padding: 20px;
    }
    .profileSection{
        display: flex;
        color: #ffffff;
        margin-top: 120px;
        justify-content: space-between;
    }
    .nameSection{
        font-size: 1.3rem;
        flex-basis: 50%;
    }
    .nameSection > div{
        margin-top: 60px;
        margin-left: 100px;
    }
    .photoSection{
        flex-basis: 50%;
    }
    .myImage{
        max-width: 100%;
        width: 60%;
        border-radius: 50%;
        border: 20px solid #202022;
        margin: auto;

    }
}